.cart-item-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.cart-item-actions button {
  background-color: #8a2b06;
  color: white;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  margin: 0 0.5rem;
  border-radius: 5px;
}

.cart-item-actions button:hover {
  background-color: #7a1e05;
}

.summary {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.button {
  background-color: #8a2b06;
  color: white;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 25px;
  margin-left: 1rem;
}

.button--alt {
  background: transparent;
  border: 1px solid #8a2b06;
  color: #8a2b06;
  padding: 0.5rem 2rem;
  border-radius: 25px;
}