.meals {
    max-width: 40rem;
    margin: 2rem auto;
    padding: 1rem;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .mealItem {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content:space-between;
  }
  
  .mealItem:last-child {
    border-bottom: none;
  }
  
  .mealItem h3 {
    margin: 0 0 0.25rem 0;
  }
  
  .description {
    font-style: italic;
    color: #666;
    margin-bottom: 0.25rem;
  }
  
  .price {
    font-weight: bold;
    color: #ad5502;
    font-size: 1.25rem;
  }
 
  /* Responsive */
  @media (max-width: 600px) {
    .meals {
      width: 90%;
      padding: 0.5rem;
    }
  
    .price {
      font-size: 1rem;
    }
  
    .mealItem {
      padding: 0.75rem;
    }
  }
  