.meal-summary {
    max-width: 45rem;
    width: 80%;
    margin: -8rem auto 2rem auto; 
    background-color: #3f3f3f;
    color: white;
    text-align: center;
    padding: 2rem;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 10;
    transition: all 0.3s ease;
  }
  
  .meal-summary h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .meal-summary p {
    font-size: 1.1rem;
    line-height: 1.6;
  }
  
  /*  Tablet Screens */
  @media (max-width: 768px) {
    .meal-summary {
      padding: 1.5rem;
    }
  
    .meal-summary h2 {
      font-size: 1.7rem;
    }
  
    .meal-summary p {
      font-size: 1rem;
    }
  }
  
  /* Mobile Screens */
  @media (max-width: 480px) {
    .meal-summary {
      padding: 1rem;
    }
  
    .meal-summary h2 {
      font-size: 1.4rem;
    }
  
    .meal-summary p {
      font-size: 0.95rem;
    }
  }
  